body {
	margin: 0;
}

.list {
	list-style: none;
	padding: 0;
	display: flex;
	font-family: 'arial', sans-serif;
	font-weight: bold;
	position: relative;
	left: 43px;
}
.list .item {
	padding: 8px 16px;
	list-style: none;
}
.list > .item {
	position: relative;
	color: #999;
	padding-bottom: 40px;
	padding-top: 8.5px;
}
.list > .item:hover {
	color: #333;
}
.list .box {
	background-image:url('https://www.toptal.com/designers/subtlepatterns/patterns/y-so-serious.png');
	padding: 20px 10px;
	width: 200px;
	position: absolute;
	left: -19px;
	top: 48px;
	outline: 2px solid #8a8a8a;
	outline-offset: -5px;
	display: none;
}
.item-4 .box {
	width: 230px
}
.item:hover .box {
	display: block;
}
.list .link:link {
	color: #DDD;
	text-decoration: none;
}
.list .link:visited {
	color: #DDD;	
}
.list .link:hover {
	color: #f00;
	text-decoration: none;
}
.list .link {
	position: relative;
}
.list .hand {
	width: 50px;
	height: 50px;
	background-image: url('./hand-01.svg');
	position: absolute;
	right: -47px;
	top: -19px;
	display: none;
}
.link:hover .hand {
	display: block;
}