body{
	margin: 0;
}
.container {
	display: flex;
	flex-direction: row;
	height: 130px;
	background-color: #aaa;
	align-items: stretch;
	justify-content: space-evenly;
	margin: 0;
}
.child-1 {
	background: #f00;
	flex-basis: 40px;
}
.child-2 {
	background: #0f0;
	flex-grow: 1;
}
.child-3 {
	background: #00f;
	flex-basis: 60px;
}
