
body {
		background-color: red;	
}
.list-item {
	font-family: sans-serif;
	font-size: 26px;
	text-transform: capitalize;
	color: #FFF;
	padding: 12px; 
	border-radius:12px;
	margin: 12px;
	background-color:transparent;
}